<div class="centered">
    <span>Meeting is about to start. Wait a few minutes ..</span>
</div>

<div class="centered">
    <video autoplay #video></video>
</div>

<div class="centered">
    <button mat-button (click)="muteUnmute()">
        <span *ngIf="!video.muted" style="color: red">Mute</span>
        <span *ngIf="video.muted" style="color: green">Unmute</span>
    </button>
    <button mat-button (click)="onOffCam()">
        <span *ngIf="!isCameraOn()" style="color: green">Turn On</span>
        <span *ngIf="isCameraOn()" style="color: red">Turn Off</span>
    </button>
</div>