<div class="centered">
    <span *ngIf="!isRefusedMessageDisplayed">
        This application require access to your camera and microphone in order to work properly.
        Do you agree ?
    </span>
    <span *ngIf="isRefusedMessageDisplayed" class="error-message">
        The application can't start as you declined the authorizations.
    </span>
    <div>
        <button mat-button (click)="agreeAccess()" style="background-color: green">Yes</button>
        <button mat-button (click)="refuseAccess()" style="background-color: red">No</button>
    </div>
</div>