<div class="select-div">
    <span>Audio input :</span>
    <mat-select [(ngModel)]="audioSelected" (change)="mediaChanged()" class="select">
        <mat-option *ngFor="let source of audioSources; index as i" [value]="source">
        <span *ngIf="source.label">{{source.label}}</span>
        <span *ngIf="!source.label">Audio {{i + 1}}</span>
        </mat-option>
    </mat-select>
</div>

<div class="select-div">
    <span>Video input :</span>
    <mat-select [(ngModel)]="videoSelected" (change)="mediaChanged()" class="select">
        <mat-option *ngFor="let source of videoSources; index as i" [value]="source">
            <span *ngIf="source.label">{{source.label}}</span>
            <span *ngIf="!source.label">Video {{i + 1}}</span>
        </mat-option>
    </mat-select>
</div>

<div class="select-div">
    <span>Audio output :</span>
    <mat-select [(ngModel)]="audioOutputSelected" (change)="mediaChanged('audioOutput')" class="select">
        <mat-option *ngFor="let source of audioOutputs; index as i" [value]="source">
            <span *ngIf="source.label">{{source.label}}</span>
            <span *ngIf="!source.label">Video {{i + 1}}</span>
        </mat-option>
    </mat-select>
</div>


<div class="centered">
    <video autoplay #video></video>
</div>

<div class="centered">
    <button mat-button (click)="redirectToMeetingRoom()" class="validate-btn">Validate</button>
</div>