.select {
    margin-bottom: 10px;
    width: 80%;
    margin-left: 10%;
}

.select-div {
    display: flex;
    flex-direction: column;
}

.validate-btn {
    background-color: green;
}

.centered {
    text-align:center;
}